main {height: 100%;}
#hero {margin-top: 115px;}

#hero h1 {
    border-bottom: 1px solid var(--ic-light);
    color: var(--ic-gold-2);
    width: 250px;
    margin: 0 auto 50px auto;
    font-size: var(--fontSize-1);
}

article {
    margin-top: 50px;
    font-size: var(--fontSize-5);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

article:nth-child(2n) {flex-direction: row;}

article img {
    border-radius: 15px;
    width: 45%;
    max-height: 600px;
}

article p {margin: 0 30px;}

    /* == == == == Responsiveness == == == == */

@media (max-width: 450px) {
    article {flex-direction: column;}
    article:nth-child(2n) {flex-direction: column;}

    article img {
        width: 100%;
        margin-bottom: 30px;
    }
}