.section > img {
    border-radius: 15px;
    width: 100%;
    margin-top: 105px;
    max-height:250px;
}

#main_content {
    display: flex;
}

#hero_img {
    border-radius: 15px;
    width: 550px;
    height: 320px;
    margin-right: 40px;
}

#hero_btns {
    width: 100%;
    font-weight: var(--wgt-medium);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero_btn {
    box-shadow: var(--sd-3);
    border-radius: 15px;
    border: 1px solid var(--ic-gold-2);
    width: 100%;
    height: 95px;
    font-size: var(--fontSize-5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--transition-2);
}

.hero_btn:hover {
    box-shadow: var(--sd-1);
    background-color: var(--ic-gold-2);
    color: var(--bg-dark-grey);
    justify-content: space-around;
}

.hero_btn:hover i {
    color: var(--ic-gold-3);
}

.hero_btn > i {
    color: var(--ic-gold-2);
    padding: 0 30px;
    font-size: var(--fontSize-2);
}

i.arrow {
    font-size: var(--fontSize-3);
}

    /* == == == == Contacts == == == == */

#contacts {
    margin: -60px 40px 50px 40px;
}

#contacts > h2 {
    border-bottom: 2px solid var(--ic-gold-2);
    width: 120px;
    margin-bottom: 60px;
    font-size: var(--fontSize-2);
}

#contacts_itens {
    display: flex;
    justify-content: space-around;
}

.contact {
    box-shadow: var(--sd-3);
    border-radius: 15px;
    border: 1px solid var(--ic-gold-2);
    width: 31%;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--transition-2);
}

.contact:hover {
    box-shadow: var(--sd-1);
    background-color: var(--ic-gold-2);
    padding-left: 5px;
    padding-bottom: 5px;
}

.contact:hover i {color: var(--bg-dark-grey);}
.contact:hover h3 {color: var(--ic-gold-3);}

.contact:hover p {
    color: var(--bg-dark-grey);
    font-size: var(--fontSize-5);
}

.contact i {font-size: var(--fontSize-2);}

.contact h3 {
    color: var(--ic-gold-2);
    padding: 10px 0;
    font-size: var(--fontSize-3);
}

    /* == == == == Videos == == == == */

#videos {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#videos img{border-radius: 15px;}

#last_banner {
    border-radius: 15px;
    width: 100%;
    max-height:300px;
    margin: 50px 0;
}

    /* == == == == Responsiveness == == == == */

@media (max-width: 450px) {
        /* == == == == Main == == == == */

    main {height: 100%;}

    .banner {
        width: 95%;
        margin: 10px;
    }

    #main_content {flex-direction: column;}

    #hero img {
        max-width: 100%;
        height: 190px;
    }

    .hero_btn {
        height: 80px;
        margin-top: 15px;
        font-size: var(--fontSize-6);
    }

    .hero_btn i {font-size: var(--fontSize-3);}

        /* == == == == Contacts == == == == */

    #contacts {margin: 30px;}
    #contacts h2 {margin-bottom: 20px;}
    
    #contacts_itens {flex-direction: column;}
    .contact {
        width: 100%;
        margin-bottom: 20px;
    }

        /* == == == == Videos == == == == */

    #videos {
        flex-direction: column;
        justify-content: space-between;
    }

    #videos img {
        width: 95%;
        margin: 20px auto;
    }

    #last_banner {margin: 30px 0;}
}